
*, *::before, *after {
    box-sizing: border-box;
}


body { 
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f1faee;
    max-width: 1400px;
    font-weight: 400;
    text-align: justify;
}

.header {
    background-image: url("https://images.pling.com/img/00/00/59/89/86/1500841//89b12a0a8a601a5a2f0961e47405f91cd3f2e382df1d1daf2ee2ac7d764a5894cd92.jpg");
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center; 
}

.logo {
    display: flex;
    align-items: center;
    text-align: center;
    background: #143774;
    padding: 9px 18px;
    height: 34px;
    border-radius: 10px;
    margin-top: 150px;
    color: white;
    text-shadow: 5px 0 0 rgb(141, 7, 7);
}

.columns-title {
    position: flex;
    align-items: center;
    background-color: #457b9d;
    text-align: center;
    color: white;
    border-radius: 10px;
    width: 355px;
    margin: 0 auto;
    text-shadow: 4px 0 0 rgb(141, 7, 7);
    padding: 9px 18px;
}

figcaption {
   display: flex;
   justify-content: center;
    color: black;
    font-weight: 400;
}

.section-one {
    margin-top: 80px;
    margin-bottom: 50px;
}

.columns {
    display: flex;
    justify-items: center;
    text-align: center;
    padding-top: 130px;
    margin: 0 auto;
     
}

p {
    font-family: 'Courier New', Courier, monospace; 
    margin: 0 1em 1em;
    text-align: justify;
    
}

.col-img {
    width: 400px;
    height: 250px;
    border-radius: 20px;
    border-style: solid double red;
    margin-top: 10px;
    justify-content: space-around;
}


 .col {
     display: flex;
     text-align:center ;
     flex-direction: column;
     margin: 0 auto;  
}


.section-two-img { 
   display: flex;
   justify-content: center;
   border-style: double red;
   border-radius: 20px;
   max-width: 100%;
   max-height: 100%;
   margin: 0 auto;
    
}


@media (max-width: 600px) {
    .columns {
        flex-direction: column;
    }
    .col-1
    .col-2
    .col-3 
    .col {
        width: 100%;
    }
}

footer{
    margin-left: 1em;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    text-align: center; 
    background: #9ac8be;
    background-size: cover;
    padding: 10px 0 10px 0;
     
}

.p {
    text-align: center;
} }

button {
    border-radius: 10px;
    border: none;
    color: white;
}

#submit {
    background:  #798f9c;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    padding: 3px 10px 4px 1
}

#submit a {
    color:black;
}    

#submit a:hover {
   color: white;    
 }












